nav.navbar.navbar-default.navbar-fixed-top.navbar-default--transparent
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', id='toggle-sidenav')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          |  
          a.navbar-brand(href='#')
            img(src="img/logo.png")
        #side-Navbar
          ul.nav.navbar-nav.navbar-right
            li.hidden-xs
              a(href='#')
                span
                |  about
            li.hidden-xs
              a(href='#')
                span
                |  contact
            li.hidden-xs
              a(href='#', id='toggle-sidenav-btn')
                span.bars
                span.bars
                span.bars.bars--3
            li
              .overlay
              .rollr-sidenav
                a.close-btn(href="javascript:void(0);") X
                ul
                    li 
                        a(href="javascript:void(0);").rollr-sidenav__links Blog

                    li 
                        a(href="javascript:void(0);").rollr-sidenav__links Careers

                    li 
                        a(href="javascript:void(0);").rollr-sidenav__links Terms and Conditions

                    li 
                        a(href="javascript:void(0);").rollr-sidenav__links FAQ

                    li
                        ul.social-links
                            li 
                                a(href="javascript:void(0);").rollr-sidenav__links
                                    span
                                        i.fa.fa-facebook

                            li 
                                a(href="javascript:void(0);").rollr-sidenav__links
                                    span
                                        i.fa.fa-twitter
                            
                            li 
                                a(href="javascript:void(0);").rollr-sidenav__links
                                    span
                                        i.fa.fa-google-plus
                            
                            li 
                                a(href="javascript:void(0);").rollr-sidenav__links
                                    span
                                        i.fa.fa-youtube