.rollr-newsarticles {
    padding: 15px;
    position: relative;
    background: $gradientGreen; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top right, $gradientBlue, $gradientGreen); /* Chrome 10-25, Safari 5.1-6 */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to top right, $gradientBlue, $gradientGreen);

    @media (min-width: $sm){
         padding: 30px 30px 30px 0;
    }

    @media (min-width: $md){
         padding: 24px;
    }

    &__container {

        @media (max-width: $sm){
            padding: 0;
        }

        @media (min-width: $md){
            position: relative;
            margin-bottom: 70px;
        }
        
    }

    &__title {
        text-align: center;
        font-family: $pnova-regular;
        font-size: 18px;
        font-weight: 600;
        margin-top: 15px;
        margin-bottom: 30px;
        color: $white;
        text-transform: capitalize;

        @media (min-width: $sm){
            font-size: 28px;
            margin-top: 0;
        }

        @media (min-width: $md){
            font-size: 32px;
            line-height: 30px;
            font-family: $pnova-regular;
            padding-top: 30px;
            padding-bottom: 75px;
            margin-bottom: 0;
        }

    }

    &__news-sections {

        display: flex;
        flex-direction: column;
        justify-content: center;

        @media (min-width: $md){
            flex-direction: row;
        }

        &__first {
            
            @media (min-width: $md){
                border-right: 1px solid $border-gray;
                flex: 1 1 auto;
            }

            .rollr-newsarticles__news-sections__card {
                @media (min-width: $sm){
                    padding-top: 40px;
                    padding-bottom: 40px;
                }
                
                @media (min-width: $md){
                    height: 100%;
                    padding: 15px 15px 35px 15px;
                    
                    &__heading {
                        padding-left: 25px;
                        padding-right: 15px;
                        padding-top: 15px;
                    }

                    &__content {
                        padding-left: 25px;
                        padding-right: 15px;
                        margin-bottom: 0;
                    }

                }
                
            }
        }

        &__second {

            @media (min-width: $md){
                flex: 1 1 auto;
            }
        
        }

        &__card {
            padding: 20px;
            background-color: $white;

            @media (min-width: $sm){
                margin: 0 auto;
                width: 595px;
                padding: 30px;
            }

            @media (min-width: $md){
                width: auto;
                padding: 16px 16px 44px 16px;
            }

            @media (max-width: $md){
                margin-bottom: 20px;
            }

            &--marketing {

                @media (min-width: $md){
                    padding: 50px 40px;
                }

                &:first-child {
                    @media (min-width: $md){
                        border-bottom: 1px solid $border-gray;
                    }
                }

            }

            &__img {
                background-size: cover;
                height: auto;
                width: 100%;
            }

            &__heading {
                font-family: $pnova-bold;
                font-size: 16px;
                line-height: 24px;
                color: $black;
                margin: 25px 0;

                @media (min-width: $sm){
                    font-size: 26px;
                    line-height: 34px;
                }
                
                @media (min-width: $md){
                    margin-bottom: 30px;
                }

                &--marketing {
                    font-family: $pnova-regular;
                    font-size: 16px;
                    line-height: 26px;
                    font-weight: 600;
                    margin-top: 0;
                    margin-left: auto;
                    margin-right: auto;

                    @media (max-width: $sm){
                        max-width: 240px;
                    }

                    @media (min-width: $sm){
                        font-size: 22px;
                        line-height: 28px;
                        margin-bottom: 30px;
                    }

                    @media (min-width: $md){
                        font-size: 22px;
                        margin-bottom: 30px;
                    }

                }
                

            }

            &__content {
                font-family: $pnova-regular;
                font-size: 12px;
                line-height: 18px;
                color: $lightblack;

                @media (min-width: $sm){
                    font-size: 16px;
                    line-height: 24px;
                }

                &--marketing {
                    color: #666666;
                    font-family: $pnova-regular;

                    @media (min-width: $sm){
                        font-size: 14px;
                        line-height: 20px;
                        margin:0;
                    }
                }

            }

        }

    }

    &__all-btn,
    &__all-btn:hover,
    &__all-btn:focus,
    &__all-btn:active {
        color: $white;
        text-transform: capitalize;
        text-align: center;
        font-family: $roboto-bold;
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 15px;
        line-height: 23.99px;

        @media (min-width: $sm){
            font-size: 18px;
        }

        @media (min-width: $md){
            font-size: 18px;
            position: absolute;
            top: 20px;
            right: 40px;
            text-align: right;
            text-transform: uppercase;
        }

    }

}



