.rollr-banner {
    // width: 100vw;
    // max-width:100%;
    color: $white;
    background: $gradientGreen; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top right, $gradientBlue, $gradientGreen); /* Chrome 10-25, Safari 5.1-6 */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to top right, $gradientBlue, $gradientGreen);
    padding: 25px 0px;

   position: relative;
   height: 900px;

    // display: flex;
    // justify-content: center;
    // align-items: center;

    @media (min-width: $sm) {
        height: 515px;
        padding: 45px 30px;
    }

    @media (min-width: $md){
        height: 800px;
    }

    &__title {
        font-family: $pnova-bold;
        font-size: 32px;
        text-align: center;
        margin: 0;
        padding-top: 45px;
        padding-bottom: 50px;
        width: 300px;
        
        @media (min-width: $sm){
            font-size: 43px;
            line-height: 65px;
            margin: 0 auto;
            width: 500px;
        }

        @media (min-width: $md){
            max-width: 100%;
            width: 684px;
            padding-top: 0;
            font-size: 60px;
            line-height: 65px;
        }

    }

    &__apps-container {
        margin: 0 auto;
        text-align: center;
        padding-top: 30px;
        
        @media (min-width: $sm){
            width: 520px;
        }
        
        @media (min-width: $md){
            width: 60%; 
            padding-top: 20px;
        }

    }

    &__app {
        padding-bottom: 30px;

        @media (min-width: $sm){
            float: left;
        }
        
        @media (min-width: $md){
           padding-bottom: 0;
        }
    
        &__logo {
            height: 35px;
            margin-top: 5px;
            border: 0;
        }

        &__links {
            text-align: center;
            border: 2px solid $white;
            border-radius: 50%;
            padding: 10px;
            height: 75px;
            width: 75px;
            margin: 0 auto;
            margin-bottom: 10px;
        }
        &__title {
            text-transform: uppercase;
            font-family: $pnova-bold;
            font-size: 14px;
            font-weight: 600;
            
            @media (min-width: $sm){
                font-size: 16px;
                line-height: 36px;
                padding: 0 15px 0 15px;
            }

        }
    }

}