.rollr-platforms {
    background-color: $white;

    @media (min-width: $md){
        background-color: rgb(229, 229, 229);
    }

    &__container {

        padding-bottom: 15px;

        @media (min-width: $md){
            background-color: $white;
            z-index: 100;
            box-shadow: 0px 0px 44px 0px rgba(0, 0, 0, 0.2);
            position: relative;
            top: -100px; 
            padding: 0 30px 0 30px;
        }
    }

    &__title {
        font-family: $pnova-regular;
        font-weight: 600;
        font-size: 18px;
        margin: 30px 0;
        text-align: center;

        @media (min-width: $sm){
            font-size: 28px;
            line-height: 30px;
            margin: 0;
            padding: 40px 0;
        }

        @media (min-width: $md){
            font-size: 32px;
            padding-top: 50px;
            padding-bottom: 60px;
        }

    }

    &__card {
        width: 290px;
        text-align: center;
        margin-bottom: 30px;

        @media (min-width: $sm){
            width: 471px;
        }

        @media (min-width: $md){
            width: 100%;
            margin-bottom: 0;
        }
        
        @media (max-width: $md){
            margin: 0 auto 30px auto;
        }
        

    }

    &__content-card {

        padding: 40px 60px 10px;
        background-color: rgb(247,247,247);

        @media (min-width: $sm){
            padding: 35px 110px 20px;
        }

        @media (min-width: $md){
            padding: 40px 50px;
            display: block;
        }

            h4 {
                text-align: left;
                font-family: $pnova-regular;
                font-size: 16px;
                font-weight: 600;
                margin-top: 10px;
                margin-bottom: 20px;

                @media (min-width: $sm){
                    font-size: 20px;
                }

                @media (min-width: $md){
                    text-align: left;
                }

            }

            p {
                text-align: left;
                font-family: $pnova-regular;
                font-size: 12px;
                line-height: 22px;
                margin-bottom: 30px;
                color: $lightblack;

                @media (min-width: $md){
                    margin-bottom: 50px;
                }

            }

            img {
                margin-bottom: 20px;

                @media (min-width: $md){
                    height: 53px;
                }

            }

    }

    &__app-card {

        background-color: rgb(229, 229, 229);

        &__body {
            color: $white;
            padding: 35px 15px;

            @media (min-width: $sm){
                padding: 40px 0;
            }

            img {
                @media (min-width: $md){
                    height: 64px;
                    border: 0;
                }
            }

        }

        &__store {
            margin: 0 auto;
            width: 200px;
            img {
                border: 0;
            }
        }

        &__logo {
            height: 55px;
            margin-bottom: 10px;
        }

        &__action {
            margin: 0 auto;
            border-top: 1px solid rgba(245, 245, 245, 0.22);
            padding: 15px;
            text-transform: uppercase;
            color: $white;
            margin-bottom: 0;

            @media (min-width: 767px){
                justify-content: center;
                height: 63px;
            }
            
            p {
                margin: auto 0;
                font-family: $pnova-regular;
                font-size: 12px;
                font-weight: 600;
                margin-right: 50px;
                float: left;
                margin-top: 5px;

                @media (min-width: 767px){
                    margin-right: 50px;
                    font-size: 14px;
                }

            }
            
            ul {
                margin-bottom: 0;
            }
            
            li {
                display: inline-block;
                &:first-child {
                    margin-right: 20px;
                }
            }

            a {
                color: $white;
                margin-top: auto;
                margin-bottom: auto;
                font-family: $pnova-regular;
                font-size: 12px;
                font-weight: 600;

                @media (min-width: $sm){
                    font-size: 14px;
                }

            }

        }

        &__title {
            text-transform: uppercase;
            font-family: $pnova-bold;
            font-size: 16px;
            margin-bottom: 30px;

            @media (min-width: $sm){
                font-size: 18px;
            }

        }

        &__link,
        &__link:hover,
        &__link:active,
        &__link:focus {
            width: 120px;
            margin: 0 auto;
            border: 2px solid $white;
            color: $white;
            font-family: $pnova-bold;
            font-size: 12px;
            border-radius: 30px;
            padding: 10px 20px;
            text-transform: uppercase;

            @media (min-width: $sm){
                font-size: 14px;
                width: 150px;
            }

        }

        &--rollr {
            background: $gradientBlue; /* fallback for old browsers */
            background: -webkit-linear-gradient(to top right, $gradientBlue, $gradientGreen); /* Chrome 10-25, Safari 5.1-6 */
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background: linear-gradient(to top right, $gradientBlue, $gradientGreen);
        }

        &--dock {
            background: $dockrcardGradient-fallback; /* fallback for old browsers */
            background: -webkit-linear-gradient(to top right, $dockrcardGradient-1, $dockrcardGradient-2); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to top right, $dockrcardGradient-1, $dockrcardGradient-2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }

        &--rollr-link {
            background: $gradientBlue; /* fallback for old browsers */
            background: -webkit-linear-gradient(to top right, $gradientBlue, $gradientGreen); /* Chrome 10-25, Safari 5.1-6 */
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background: linear-gradient(to top right, $gradientBlue, $gradientGreen);

            @media (min-width: $sm){
                margin-bottom: 45px;
            }
            .rollr-platforms__app-card__action {
                a {
                    @media (min-width: $md){
                        margin: 3px auto;
                    }
                }
            }

        }

    }

    &__friend-section,
    &__car-section {
        @media (min-width: $sm){
            width: 210px;
            margin: 0 auto;
        }
    }

}
