.rollr-footer {
    background: url("../img/footer-bg.svg") no-repeat;
    background-size: contain;
    background-position: bottom left 24px;
    padding-top: 35px;
    padding-bottom: 30px;
    background-color: $footerbg-color;
    color: $footerTextColor;
    font-size: 14px;

    @media (max-width: $sm){
        height: 700px;
    }

    @media (min-width: $sm){
        padding-top: 55px;
        height: 582px;
    }

    @media (min-width: $md){
         height: 455px;
    }

    &__nav {
        display: flex;
        justify-content: space-around;
        flex-direction: column;

        @media (max-width: $sm) {
            height: 580px;
        }

        @media (min-width: $sm){
            flex-direction: row;
            flex-wrap: wrap;
        }

        @media (min-width: $md){
            align-items: flex-start;
        }

    }

    &__company {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @media (min-width:$sm){
            order: 1;
        }

        @media (min-width: $md){
            flex: 1 1;
             margin-right: 20px;
        }

        p {
            font-family: $pnova-light;
            font-size: 12px;

            @media (min-width: $sm){
                font-size: 14px;
            }

        }

        &__logo {
            @media (min-width: $sm){
                 margin-right: 50px;
            }
        }

         &__copyright-data {
            margin-top: 30px;
            margin-bottom: 0;
            span {
                font-family: $pnova-light;
                font-size: 12px;
                font-weight: 900;

                @media (min-width: $sm){
                    display: block;
                    font-size: 14px;
                }
            }
        }

    }

    &__inner-links {
        display: flex;
        justify-content: space-around;
        margin: 1em;
        font-family: $pnova-regular;
        margin: 0;
        padding-bottom: 30px;
        padding: 0;

        @media (min-width:$sm){
            order: 2;
            flex: 1 1;
            max-width: 50%;
        }

        @media (min-width: $md){
            margin-right: 90px;
            flex: 1 1;
        }
        
        &__heading {
            color: $white;
            text-transform: uppercase;
            font-size: 16px;

            @media (min-width: $md){
                 margin-top: 0;
            }

        }

        &__section:first-child {
            @media (min-width: $md){
                margin-right: 80px;
            }
        }

        &__link-item {
            margin: 20px 0;
            text-transform: capitalize;
            font-family: $pnova-light;
            font-size: 12px;
            font-weight: 900;

            @media (min-width: $sm){
                font-size: 14px;
            }

        }

        a,
        a:hover,
        a:focus,
        a:active {
            text-decoration: none;
            color: $footerTextColor;
        }

    }

    &__social {
        margin-bottom: 15px;

        @media (min-width: $sm){
             order: 3;
        }

        @media (min-width: $md){
            flex: 1 1;
        }

        @media (min-width: $sm) and (max-width: $md){
            display: inline-flex;
            width: 590px;
            padding-top: 100px;
            justify-content: space-around;
            align-items: baseline;
        }

        &__icon {
            font-size: 25px;
            color: $footerSocialIconColor;
        }

        &__heading {
            color: $white;
            text-transform: uppercase;
            margin-bottom: 20px;
            text-align: center;
            font-family: $pnova-regular;
            font-size: 14px;

            @media (min-width: $sm){
                text-align: left;
            }

        }

        &__links {
            color: $white;
            text-transform: capitalize;
            width: 190px;
            margin: 0 auto;
            
            @media (max-width: $md){
                width: 250px;
            }

            @media (min-width: $sm){
                margin: 0;
                position: relative;
                left: -15px;
            }
            li {
                 display: inline-block;
                 margin: 0 20px 0 20px;
                 
                @media (min-width: $md){
                     margin: 0 10px 0 15px;
                }
            }

        }

        &__lollypop {
            margin-top: 30px;
            margin-bottom: 0;
            text-transform: capitalize ;
            color: $footerTextColor;

            span {
                margin: 0 2px;
            }
        }

        a,
        a:hover,
        a:focus,
        a:active {
            text-decoration: none;
            color: $footerTextColor;
            font-size: 26px;
        }
    }

    &__company-title {
        color: $lollypopTextColor;
        text-transform: capitalize;   
    }

}
