.rollr-pressreleases { 
    padding: 28px 0;
    background-color: $pressreleases-bg-mobile;

    @media (min-width: $sm){
        background-color: $pressreleases-bg-tablet;
        padding: 70px 10px;
    }

    @media (min-width: $md){
        background-color: $pressreleases-bg-desktop;
    }

    &__heading {
        font-family: $pnova-regular;
        font-size: 18px;
        text-transform: capitalize;
        text-align: center;
        font-weight: 600;
        margin-bottom: 52px;
        margin-top: 0;

        @media (min-width: $sm){
            font-size: 28px;
        }
    }

    &__list {
        text-align: center;
        padding-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
    }

    &__news-item {
        margin: 30px 0;

        @media (min-width: $sm){
            display: inline-block;
            margin: 0 17px;
        }

        &__img {
            height: 18px;

            @media (min-width: $sm){
                height: 22px;
            }

            @media (min-width: $md){
                height: 28px;
            }

        }

    }

}
