*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
}


/*Other styles*/

* {
	outline: none !important;
}

ul,
li {
	list-style: none;
	padding: 0;
}


/*END: Other styles*/

a {
	display: block;
	text-decoration: none;
	&:hover {
		text-decoration: none !important;
	}
}

textarea {
	resize: none;
}