@import 'variables';

.center-align {
    text-align: center;
}

.text-color-black {
    color: $black !important;
}

.abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media (max-width: $sm){
        top: 45%;
    }
}