@font-face {
  font-family: 'Proximanova-Light';
  src: url('../fonts/Proxima/Proximanova-Light.eot');
  src: url('../fonts/Proxima/Proximanova-Light.ttf') format('ttf'),
       url('../fonts/Proxima/Proximanova-Light.woff') format('woff'),
       url('../fonts/Proxima/Proximanova-Light.svg#Proxima-Light') format('svg');
   font-weight: normal;
   font-style: normal;
}

@font-face {
  font-family: 'Proximanova-Regular';
  src: url('../fonts/Proxima/Proximanova-Regular.eot');
  src: url('../fonts/Proxima/Proximanova-Regular.ttf') format('ttf'),
       url('../fonts/Proxima/Proximanova-Regular.woff') format('woff'),
       url('../fonts/Proxima/Proximanova-Regular.otf') format('otf'),
       url('../fonts/Proxima/Proximanova-Regular.svg#Proxima-Regular') format('svg');
   font-weight: normal;
   font-style: normal;
}

@font-face {
  font-family: 'Proximanova-Bold';
  src: url('../fonts/Proxima/Proximanova-Bold.eot');
  src: url('../fonts/Proxima/Proximanova-Bold.ttf') format('ttf'),
       url('../fonts/Proxima/Proximanova-Bold.woff') format('woff'),
       url('../fonts/Proxima/Proximanova-Bold.otf') format('otf'),
       url('../fonts/Proxima/Proximanova-Bold.svg#Proxima-Bold') format('svg');
   font-weight: normal;
   font-style: normal;
}

@font-face {
  font-family: 'Proximanova-Semibold';
  src: url('../fonts/Proxima/Proximanova-Semibold.eot');
  src: url('../fonts/Proxima/Proximanova-Semibold.ttf') format('ttf'),
       url('../fonts/Proxima/Proximanova-Semibold.woff') format('woff'),
       url('../fonts/Proxima/Proximanova-Semibold.otf') format('otf'),
       url('../fonts/Proxima/Proximanova-Semibold.svg#Proxima-Semibold') format('svg');
   font-weight: normal;
   font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('../fonts/Roboto/Roboto-Bold.eot');
  src: url('../fonts/Roboto/Roboto-Bold.ttf') format('ttf'),
       url('../fonts/Roboto/Roboto-Bold.woff') format('woff'),
       url('../fonts/Roboto/Roboto-Bold.otf') format('otf'),
       url('../fonts/Roboto/Roboto-Bold.svg#Roboto-Bold') format('svg');
   font-weight: normal;
   font-style: normal;
}

@font-face {
  font-family: 'fontawesome';
  src: url('../fonts/fontawesome-webfont.eot');
  src: url('../fonts/fontawesome-webfont.woff2') format('woff2'),
       url('../fonts/fontawesome-webfont.woff') format('woff'),
       url('../fonts/fontawesome-webfont.svg#fontawesome') format('svg'),
 // font-weight: normal;
 // font-style: normal;
}