/*
 Color variables - start
*/

$lightblack: #666666;
$white: #ffffff;
$black: #333333;
$gray: #cccccc;
$border-gray: #e4e4e4;

$gradientBlue: #08a3e3;
$gradientGreen: #4fd962;

$dockrcardGradient-1: #c64a59;
$dockrcardGradient-2: #f2ac30;
$dockrcardGradient-fallback: #e44d26;

$footerbg-color: rgb(43,43,52);
$footerTextColor: #9b9ba0;
$footerSocialIconColor: rgb(107, 107, 113);
$lollypopTextColor: rgb(148,54,83);

$pressreleases-bg-mobile: rgb(255, 255, 255);
$pressreleases-bg-tablet: rgb(245, 245, 245);
$pressreleases-bg-desktop: rgb(229, 229, 229);

/*
 Color variables - End
*/

/*
Media Query Variables
*/

$sm: 768px;
$md: 992px;

/*
Media Query Variables
*/

/*Font styles*/
$roboto-bold: 'Roboto-Bold';

$pnova-bold: 'Proximanova-Bold';
$pnova-light: 'Proximanova-Light';
$pnova-regular: 'Proximanova-Regular';
$pnova-semibold: 'Proximanova-Semibold';

/*END: Font styles*/