footer.rollr-footer
    .container
        .row
            .rollr-footer__nav    
                .rollr-footer__inner-links
                    .rollr-footer__inner-links__section
                        h4.rollr-footer__inner-links__heading company
                        ul 
                            li.rollr-footer__inner-links__link-item
                                a(href="javascript:void(0);") home
                            li.rollr-footer__inner-links__link-item
                                a(href="javascript:void(0);") products
                            li.rollr-footer__inner-links__link-item
                                a(href="javascript:void(0);") about us

                    .rollr-footer__inner-links__section
                        h4.rollr-footer__inner-links__heading support
                        ul 
                            li.rollr-footer__inner-links__link-item
                                a(href="javascript:void(0);") blog
                            li.rollr-footer__inner-links__link-item
                                a(href="javascript:void(0);") careers
                            li.rollr-footer__inner-links__link-item
                                a(href="javascript:void(0);") contact us

                .rollr-footer__social
                    p.rollr-footer__social__heading connect
                    ul.rollr-footer__social__links
                        li
                            a(href="javascript:void(0);")
                                span.fa.fa-facebook.rollr-footer__social__icon
                        li
                            a(href="javascript:void(0);")
                                span.fa.fa-twitter.rollr-footer__social__icon
                        li
                            a(href="javascript:void(0);")
                                span.fa.fa-google-plus-square.rollr-footer__social__icon
                        li
                            a(href="javascript:void(0);")
                                span.fa.fa-youtube-play.rollr-footer__social__icon

                    p.rollr-footer__social__lollypop.hidden-xs
                        | Crafted
                        span @
                        span.rollr-footer__company-title lollypop.biz

                .rollr-footer__company
                    img.rollr-footer__company__logo(src="img/rollr-icon-footer.png")
                    .rollr-footer__company__copyright-data
                        span © 2016 Rollr. 
                        span All Rights Reserved.
                    p.rollr-footer__social__lollypop.visible-xs
                        | Crafted
                        span @
                        span.rollr-footer__company-title lollypop.biz