mixin header(page_name)
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
		title= page_name
		meta(name='description', content='')
		link(rel="shortcut icon" href="img/favicon.ico" type="image/x-icon")
		link(rel='stylesheet', href='css/main.css')
		link(rel='stylesheet', href='css/iefixes.css')