section.rollr-banner
    .container.abs-center
        .row
            .col-sm-12
                .rollr-banner__container
                    h1.rollr-banner__title A seamless platform for everything on the move.
                    .row.rollr-banner__apps-container
                        .rollr-banner__app.col-xs-12.col-sm-4
                            a.rollr-banner__app__links(href="javascript:void(0);") 
                                img.rollr-banner__app__logo(src="img/rollr.svg", alt="Rollr logo")
                            p.rollr-banner__app__title Rollr
                        .rollr-banner__app.col-xs-12.col-sm-4
                            a.rollr-banner__app__links(href="javascript:void(0);")
                                img.rollr-banner__app__logo(src="img/docknroll.svg", alt="Dock 'n' Roll logo")
                            p.rollr-banner__app__title Dock 'n' Roll
                        .rollr-banner__app.col-xs-12.col-sm-4
                            a.rollr-banner__app__links(href="javascript:void(0);")
                                img.rollr-banner__app__logo(src="img/rollr-link-logo.png", alt="Rollr Link logo")
                            p.rollr-banner__app__title Rollr link
