section.rollr-newsarticles
    .container.rollr-newsarticles__container
        .row
            .col-sm-12
                h1.rollr-newsarticles__title
                    | our stories
                .rollr-newsarticles__news-sections
                    .rollr-newsarticles__news-sections__first
                        .rollr-newsarticles__news-sections__card
                            img.img-responsive.rollr-newsarticles__news-sections__card__img(src="img/news-banner.png")
                            h2.rollr-newsarticles__news-sections__card__heading
                                | Can technology "Drive" the car in-car the driver experience
                            p.rollr-newsarticles__news-sections__card__content
                                | A key service from the blog can come here. This is to give some context as to whats in the detailed page. A key service from the blog can come here.
                    .rollr-newsarticles__news-sections__second
                        .rollr-newsarticles__news-sections__card.rollr-newsarticles__news-sections__card--marketing
                            h2.rollr-newsarticles__news-sections__card__heading--marketing
                                | We are officially out of the Beta!  All early adopters get a discount
                            p.rollr-newsarticles__news-sections__card__content--marketing.hidden-xs
                                | A key service from the blog can come here. This is to give some context as to whats in the detailed page. A key service from the blog can come here.
                        .rollr-newsarticles__news-sections__card.rollr-newsarticles__news-sections__card--marketing
                            h2.rollr-newsarticles__news-sections__card__heading--marketing
                                | We are officially out of the Beta!  All early adopters get a discount
                            p.rollr-newsarticles__news-sections__card__content--marketing.hidden-xs
                                | A key service from the blog can come here. This is to give some context as to whats in the detailed page. A key service from the blog can come here.
                a.rollr-newsarticles__all-btn(href="javascript:void(0);") view all