section.rollr-platforms
    .container
        .row
            .col-sm-12.rollr-platforms__container
                h2.rollr-platforms__title The Rollr Platform
                .row
                    .col-sm-12.col-md-4
                        .rollr-platforms__card
                            .rollr-platforms__content-card
                                .rollr-platforms__friend-section
                                    img(src="img/connect-friends.png").img-responsive
                                    h4 Connect your friends
                                    p A one line text here explaining this point can come here.
                                .rollr-platforms__car-section
                                    img(src="img/connect-car.png").img-responsive
                                    h4 Connect your Car
                                    p A one line text here explaining this point can come here.
                            .rollr-platforms__app-card.rollr-platforms__app-card--rollr
                                .rollr-platforms__app-card__body
                                    img.rollr-platforms__app-card__logo(src="img/rollr-logo.png")
                                    p.rollr-platforms__app-card__title rollr app
                                    a.rollr-platforms__app-card__link(href="javascript:void(0);") learn more
                                .rollr-platforms__app-card__action
                                    .rollr-platforms__app-card__store
                                        p download
                                        ul
                                            li
                                                a(href="javascript:void(0);")
                                                    img(src="img/google-play.png", alt="google play logo")
                                            li
                                                a(href="javascript:void(0);")
                                                    img(src="img/apple-logo.png", alt="apple store logo")
                    .col-sm-12.col-md-4
                        .rollr-platforms__card
                            .rollr-platforms__content-card
                                .rollr-platforms__friend-section
                                    img(src="img/connect-friends2.png").img-responsive
                                    h4 Connect your friends
                                    p A one line text here explaining this point can come here.
                                .rollr-platforms__car-section
                                    img(src="img/connect-car2.png").img-responsive
                                    h4 Connect your Car
                                    p A one line text here explaining this point can come here.
                            .rollr-platforms__app-card.rollr-platforms__app-card--dock
                                .rollr-platforms__app-card__body
                                    img.rollr-platforms__app-card__logo(src="img/dock-logo.png")
                                    p.rollr-platforms__app-card__title dock'n' roll
                                    a.rollr-platforms__app-card__link(href="javascript:void(0);") learn more
                                .rollr-platforms__app-card__action
                                    .rollr-platforms__app-card__store
                                        p download
                                        ul
                                            li
                                                a(href="javascript:void(0);")
                                                    img(src="img/google-play.png", alt="google play logo")
                                            li
                                                a(href="javascript:void(0);")
                                                    img(src="img/apple-logo.png", alt="apple store logo")
                    .col-sm-12.col-md-4
                        .rollr-platforms__card
                            .rollr-platforms__content-card
                                .rollr-platforms__friend-section
                                    img(src="img/connect-friends3.png").img-responsive
                                    h4 Connect your friends
                                    p A one line text here explaining this point can come here.
                                .rollr-platforms__car-section
                                    img(src="img/connect-car3.png").img-responsive
                                    h4 Connect your Car
                                    p A one line text here explaining this point can come here.
                            .rollr-platforms__app-card.rollr-platforms__app-card--rollr-link
                                .rollr-platforms__app-card__body
                                    img.rollr-platforms__app-card__logo(src="img/rollr-link-logo.png")
                                    p.rollr-platforms__app-card__title rollr link
                                    a.rollr-platforms__app-card__link(href="javascript:void(0);") learn more
                                .rollr-platforms__app-card__action
                                    a(href="javascript:void(0);") Notifiy Me