section.rollr-pressreleases
    .container
        .row
            .col-sm-12
                h2.rollr-pressreleases__heading
                    | press releases
                ul.rollr-pressreleases__list
                    li.rollr-pressreleases__news-item
                        img.rollr-pressreleases__news-item__img(src="img/press-1.png")
                    li.rollr-pressreleases__news-item
                        img.rollr-pressreleases__news-item__img(src="img/press-2.png")

                    li.rollr-pressreleases__news-item
                        img.rollr-pressreleases__news-item__img(src="img/press-3.png")
                    li.rollr-pressreleases__news-item
                        img.rollr-pressreleases__news-item__img(src="img/press-1.png")