html[data-useragent*='MSIE 9.0'] {

  .rollr-newsarticles {
    &__news-sections {
      &__first {
          margin: 0 auto;
          display: block;
        @media (min-width: 992px){
          width: 50%;
          display: block;
          float: left;
          height: 100%;
      }
    }
    &__second {
        margin: 0 auto;
        display: block;
        clear: both;
      @media (min-width: 992px){
        width: 50%;
        display: inline-block;
      }
    }
  }
}
  .rollr-footer {

    &__company {
      text-align: center;
    }

    &__inner-links {
      
      &__section {

        float: left;
        
        &:first-child {
          margin: 0 30px;
        }

        @media (min-width: 767px){
          display: block;
        }

        &:last-child {
          float: none;
        }
    }

  }

}

}
