.navbar-default {
    .navbar-nav {
            @media (max-width: 767px){
                margin: 0;
            }
            li {
            a,
            a:hover,
            a:active,
            a:focus {
                padding: 30px 25px;
                color: $white;
            }
        }
    }
}

.navbar-toggle {
    .icon-bar {
        background-color: $white;
        &:last-child {
            width: 17px;
            margin-left: auto;
        }
    }
}

.navbar-right {
        li {
            a,
            a:hover,
            a:focus,
            a:active {
                font-size: 16px;
                font-family: $pnova-regular;
                text-decoration: none;
                text-transform: capitalize;
                color: $white;
            }
            .text-color-black,
            .text-color-black:hover,
            .text-color-black:focus,
            .text-color-black:active {
                color: black;
            }
    }

}

.navbar-default .navbar-toggle .icon-bar {
    background-color: $white;
}

.navbar-right {
    button {
        background-color: transparent;
        border: 0;
        margin-top: 6px;
    }
}

.navbar-brand img {
    border: 0;
    @media (max-width: $sm){
        height: 100%;
    }
    @media (min-width: $sm){
        padding-top: 10px;
    }
}

.bars {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    margin-bottom: 4px;
    background-color: $white;
    &--3 {
        width: 17px;
        margin-left: auto;
    }
}

.navbar-default {
    .navbar-toggle {
        border: 0;
        &:hover,
        &:focus {
            cursor: pointer;
            background-color: transparent;
        }
    }
}

.navbar-default--transparent {
    background-color: transparent;
    border: 0;
}

.navbar--scrolling {
    background-color: $white;
    color: black;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}