.overlay {
    height: 100vh;
    width: 100vw;
    z-index: 1050;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.navbar-right {
    .rollr-sidenav {
        height: 100vh;
        width: 250px;
        background-color: $white;
        -webkit-transition: all 300ms ease-out;
        transition: all 300ms ease-out;
        padding-left: 2em;
        padding-right: 3em;
        padding-top: 0.8em;
        transform: translateX(100%);
        z-index: 1200;
        position: fixed;
        top: 0;
        right: 0;
        &__links {
            font-family: $pnova-regular;
            font-size: 16px;
        }
        li {
            margin-bottom: 30px;
            a,
            a:hover,
            a:focus,
            a:active {
                color: black;
                padding: 0;
            }
        }
        .social-links {
            margin-top: 10px;
            justify-content: space-between;
            li {
                float: left;
                margin: 0 20px 0 0;
            }
        }
        .close-btn,
        .close-btn:hover,
        .close-btn:active,
        .close-btn:focus {
            position: absolute;
            color: $black;
            top: 10px;
            right: 30px;
            padding: 0;
        }
    }
    .show-sidenav {
        transform: translateX(0%);
    }
}