doctype html
html(lang='en')

	- var page_name = "Rollr"

	include jade/base/header.jade
	+header(page_name)

	body

		header
			include jade/components/navbar.jade
		
		main
			include jade/layouts/banner.jade
			include jade/layouts/platforms.jade
			include jade/layouts/newsarticles.jade
			include jade/layouts/pressreleases.jade

		include jade/base/footer.jade
		include jade/base/scripts.jade

	